{% capture html %}
  <ul class="menu-list">
    {% assign items = site.pages %}

    {% for item in items %}
      {% assign slug = item.url | split: "/" | last %}
      {% if slug %}
        {% assign current = item.url | remove: slug %}
      {% else %}
        {% assign currente = item.url %}
      {% endif %}

      {% assign current = current | replace: "//", "/" %}

      {% if current == include.context and item.url != include.context %}
        <li>
          <a class="menu-link" href="{{ item.url }}">{{ item.title }}</a>
          {% include navigation.html context=item.url %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endcapture %}

{{ html }}
