<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1"/>

    <style type="text/css">
      {% capture style %}
        @import 'base';
        @import 'layout';
        @import 'syntax';
      {% endcapture %}

      {{ style | scssify }}
    </style>

    {% seo %}
  </head>

  <body class="container">
    <main class="content">
      <section class="content-sidebar">
        <nav class="navigation">
          {% include navigation.html context="/" %}
        </nav>

        <aside class="advert">
          <h4>Want to learn more?</h4>
          <a href="http://www.amazon.com/You-Dont-Know-JS-Beyond/dp/1491904240/ref=as_li_ss_il?ie=UTF8&qid=1465146739&sr=8-1&keywords=ECMAScript+6&linkCode=li3&tag=webdevelopmentninja-20&linkId=96b1efa3755c79294cd8916891dddf54" target="_blank">
            <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1491904240&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=webdevelopmentninja-20"/>
          </a>
          <img src="//ir-na.amazon-adsystem.com/e/ir?t=webdevelopmentninja-20&l=li3&o=1&a=1491904240" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </aside>
      </section>

      <section class="content-main">
        {{ content }}
      </section>
    </main>

    {% if site.google_tracking_id and site.environment != 'development' %}
      {% include google_analytics.html %}
    {% endif %}
  </body>
</html>
